p {
    color: #a3a3a3;
}

a:visited {
	text-decoration: none;
    color: #a3a3a3;
	}
a:hover {
	text-decoration: underline;
	color: rgb(0, 0, 0)
	}
a:active {
	text-decoration: none
	}

.div-passwords {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.0rem;
    font-size: 1.0rem;
    margin-right: 14.5rem;
    margin-left: 14.5rem;
    background-color: #3d3d3d;
    border: #a3a3a3;
    border-style: solid;
}
